<table class="table" *ngIf="listSize>0">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">UserName</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Career</th>
      </tr>
    </thead>
    <tbody *ngFor="let st of studentsList">
      <tr>
        <th scope="row">{{st.studentId}}</th>
        <td>{{st.userName}}</td>
        <td>{{st.firstName}}</td>
        <td>{{st.lastName}}</td>
        <td>{{st.age}}</td>
        <td>{{st.career}}</td>
        <td>
            <button class="btn btn-info" (click)="editStudent(st)" [routerLink]="['/students/edit', st.studentId]">Edit</button>
            <button class="btn btn-danger" (click)="deleteStudent(st)">Delete</button>
        </td>
      </tr>
    </tbody>
    <button class="btn btn-success" (click)="addStudent(st)">Add</button>
  </table>

<h1>
    <span *ngIf="listSize==0">No Records</span>
</h1>
